{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/post.css" %}"/>
{% endblock css_files %}

{% block content %}
    <section id="welcome">
        <header>
            <div id="title">
                <img src="{% static "blog/images/anthony.png"%}" alt="Thony - Author Of This Blog"/>
                <h2>ANTHONY CHENDRIK</h2>
            </div>
            <p>Hi, I am Anthony and I love to blog about tech and the world!</p>
        </header>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% include "blog/includes/post.html" %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love programming, I love to help others and I enjoy exploring new technologies in general!</p>
        <p>My goal is to keep on growing as a developer</p>
    </section>
{% endblock content %}