{% extends "base.html" %}
{% load static %}

{% block title %}
    This Post Title
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-details.css" %}"/>
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>Post Title</h2>

        <article>
            <img src="{% static "blog/images/tic_tac_toe.png"%}" alt="Post Title"/>
            <address>By Maximilian</address>
            <div>
                Last updated on <time>July 10th</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            É praticamente inegável que Shrek é uma obra debochada. Desde a primeira cena, usando
            a folha de um livro de conto de fadas para provavelmente limpar a bunda, pelo contexto
            que ele estava lendo no banheiro e dar descarga, o filme da Dreamworks incita uma 
            desconstrução de uma narrativa clássica, contada nas páginas do livro. A ideia do príncipe
            que salva a princesa em um castelo, em uma torre bem alta, protegida por um dragão, é toda 
            a construção de uma jornada heroica medieval, fantasiosa e mitológica. Porém, a proposta do
            deboche não se consta apenas na sátira, como em geral delimitam o filme, e sim legitimar a 
            pluralidade dessa narrativa dos contos de fadas, variando as aparências das personas que 
            estruturam a história, e fazendo um paradoxo em processo de harmonia. Em poucas palavras, 
            se há uma desconstrução há também uma construção pelo processo de interpelo, fundando um 
            deboche clássico/romântico, um romance clássico debochado, uma atemporalidade pós-moderna.
        </p>
    </main>
{% endblock %}
